# Gmail Credentials
GMAIL_USER=
GMAIL_APP_PASSWORD=

CRON_SECRET=

# Supabase Credentials
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ENVIRONMENT=

NEXT_PUBLIC_SITE_URL=